<% layout("/layouts/boilerplate")%>
<div class="row">
  <div class="alert alert-danger col-6 offset-3 mt-1" role="alert">
    <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
    <h4 class="alert-heading mt-2"><%= message %></h4>
  </div>
</div>
