<% layout('/layouts/boilerplate') -%>
<body>
  <h3>Listings</h3>
  <!-- <form action="/listings/new" method="GET">
    <button>Create New Listing</button>
  </form> -->
  <ul>
    <%for(let listing of allListings){%>
    <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>

    <%}%>
  </ul>
</body>
