<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write new chats</title>
</head>
<body>
    <h3>Write new chats.....</h3>
    <form method="post" action="/chats">
        <input type="text" placeholder="Who are you?" name="from">
        <br> <br>
        <textarea name="msg" id="">Write your message here..</textarea>
        <br><br>
        <input type="text" placeholder="add receiver" name="to">
        <br><br>
        <button>Create Chats</button>
    </form>
</body>
</html>