.container{
display:grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: auto 1fr auto;
grid-template-areas:
"header header header header"
"aside content content content"
"footer footer footer footer" ;

}
.header{
background-color: lightblue;
grid-area: header;
height:7rem;
text-align: center;
}
.aside{
background-color: lightcoral;
grid-area: aside;
height:29rem;
text-align: center;
}
.content{
background-color:lightcyan;
grid-area: content;
text-align: center;
}
.footer{
background-color: lightgoldenrodyellow;
grid-area:footer;
height:7rem;
text-align: center;
}
body{
    margin:-4px;
    padding:4px;
    font-weight: 600;
    font-size: large;
}