/* body{
    background-color: cyan;
} */
.navbar{
    height:5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;  
    font-weight: 500 !important;
}